body {
    margin: 0;
    min-height: 100%;
    position: relative;
}

header {
    font-family: 'Mystery Quest', cursive, Arial, Helvetica, sans-serif;
    background: url(../img/Ferme-du-Bec-Hellouin-permaculture.jpg) center / cover no-repeat;
    color: greenyellow;
    height: 170px;
}

header a {
    color: green;
}

header h1 {
    font-size: 2em;
}

header img {
    width: 100px;
    height: 100%;
}

header li {
    font-size: 1em;
    font-weight: 600;
}

header li:hover {
    font-size: 1.5em;
    font-weight: 700;
}

header a:hover {
    color: green;
    text-decoration: none;
}

.menu {
    background: greenyellow;
}

.bars {
    font-size: 1.5em;
    color: greenyellow;
}

nav button:focus {
    outline: none;
}

main {
    min-height: calc(100vh - 100px);
    /* retirer la hauteur du header et du footer */
    font-family: 'Mali', cursive, Arial, Helvetica, sans-serif;
    padding-top: 180px;
}

#footer {
    background-color: darkseagreen;
    border: thick double #f19509
}

footer p {
    font-family: 'Mali', cursive;
    font-size: 20px;
}

footer nav ul li {
    font-family: 'Mystery Quest', cursive, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

footer img {
    width: 55px;
}

.mainmodele table {
    width: 300px;
    height: 300px;
}

.mainmodele td {
    width: 50px;
    height: 50px;
}

.active {
    background: green;
}

@media (min-width: 568px) {
 
    main { 
        min-height: calc(100vh - 100px);
        padding-top: 180px
    }
    header 
    {
        height: 100px;
    }

    header img {
        width: 80px;
        height: 100%;
    }
   

}

@media (min-width: 768px) {
    .menu {
        background: none;
    }
    header ul {
        flex-direction: row;
        justify-content: end;
        margin-top: 50px;
        margin-bottom: 0;
    }
    header a, header a:hover {
        color: greenyellow;
        font-size: 1.2em;
    }
    main {
        padding-top: 116px;
    }
    .cell:hover {
        background: lightgreen;
    }
}